// Auto genetated file
[
/*{
"name" : "c9767_hash_to_curve - sparc_64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"main" : "c9767_hash_to_curve" ,
"raw_options": { "-no-results": "true" }
}
,
{
"name" : "c9767_hash_to_curve - sparc_32 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"main" : "c9767_hash_to_curve" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_hash_to_curve - x86_32 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"main" : "c9767_hash_to_curve" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_hash_to_curve - x86_64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"main" : "c9767_hash_to_curve" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_hash_to_curve - armeb_eabi - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "armeb_eabi" ,
"main" : "c9767_hash_to_curve" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_hash_to_curve - arm_eabi - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "arm_eabi" ,
"main" : "c9767_hash_to_curve" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_hash_to_curve - aarch64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "aarch64" ,
"main" : "c9767_hash_to_curve" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_hash_to_curve - aarch64eb - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "aarch64eb" ,
"main" : "c9767_hash_to_curve" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_hash_to_curve - rv64ifdq - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "rv64ifdq" ,
"main" : "c9767_hash_to_curve" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_hash_to_curve - rv32ifdq - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "rv32ifdq" ,
"main" : "c9767_hash_to_curve" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_hash_to_curve - mips_o32 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "mips_o32" ,
"main" : "c9767_hash_to_curve" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_hash_to_curve - mips_n32 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "mips_n32" ,
"main" : "c9767_hash_to_curve" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_hash_to_curve - mips_64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "mips_64" ,
"main" : "c9767_hash_to_curve" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_hash_to_curve - mipsel_64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "mipsel_64" ,
"main" : "c9767_hash_to_curve" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_keygen - sparc_64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"main" : "c9767_keygen" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_keygen - sparc_32 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"main" : "c9767_keygen" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_keygen - x86_32 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"main" : "c9767_keygen" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_keygen - x86_64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"main" : "c9767_keygen" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_keygen - armeb_eabi - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "armeb_eabi" ,
"main" : "c9767_keygen" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_keygen - arm_eabi - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "arm_eabi" ,
"main" : "c9767_keygen" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_keygen - aarch64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "aarch64" ,
"main" : "c9767_keygen" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_keygen - aarch64eb - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "aarch64eb" ,
"main" : "c9767_keygen" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_keygen - rv64ifdq - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "rv64ifdq" ,
"main" : "c9767_keygen" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_keygen - rv32ifdq - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "rv32ifdq" ,
"main" : "c9767_keygen" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_keygen - mips_o32 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "mips_o32" ,
"main" : "c9767_keygen" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_keygen - mips_n32 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "mips_n32" ,
"main" : "c9767_keygen" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_keygen - mips_64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "mips_64" ,
"main" : "c9767_keygen" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_keygen - mipsel_64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "mipsel_64" ,
"main" : "c9767_keygen" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_ecdh_gen_recv - sparc_64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"main" : "c9767_ecdh_gen_recv" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_ecdh_gen_recv - sparc_32 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"main" : "c9767_ecdh_gen_recv" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_ecdh_gen_recv - x86_32 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"main" : "c9767_ecdh_gen_recv" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_ecdh_gen_recv - x86_64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"main" : "c9767_ecdh_gen_recv" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_ecdh_gen_recv - armeb_eabi - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "armeb_eabi" ,
"main" : "c9767_ecdh_gen_recv" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_ecdh_gen_recv - arm_eabi - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "arm_eabi" ,
"main" : "c9767_ecdh_gen_recv" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_ecdh_gen_recv - aarch64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "aarch64" ,
"main" : "c9767_ecdh_gen_recv" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_ecdh_gen_recv - aarch64eb - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "aarch64eb" ,
"main" : "c9767_ecdh_gen_recv" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_ecdh_gen_recv - rv64ifdq - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "rv64ifdq" ,
"main" : "c9767_ecdh_gen_recv" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_ecdh_gen_recv - rv32ifdq - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "rv32ifdq" ,
"main" : "c9767_ecdh_gen_recv" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_ecdh_gen_recv - mips_o32 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "mips_o32" ,
"main" : "c9767_ecdh_gen_recv" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_ecdh_gen_recv - mips_n32 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "mips_n32" ,
"main" : "c9767_ecdh_gen_recv" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_ecdh_gen_recv - mips_64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "mips_64" ,
"main" : "c9767_ecdh_gen_recv" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_ecdh_gen_recv - mipsel_64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "mipsel_64" ,
"main" : "c9767_ecdh_gen_recv" ,
"raw_options": { "-no-results": "true" } 
}
,*/
{
"name" : "c9767_sign_verify - sparc_64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"main" : "c9767_sign_verify" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_sign_verify - sparc_32 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"main" : "c9767_sign_verify" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_sign_verify - x86_32 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"main" : "c9767_sign_verify" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_sign_verify - x86_64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"main" : "c9767_sign_verify" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_sign_verify - armeb_eabi - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "armeb_eabi" ,
"main" : "c9767_sign_verify" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_sign_verify - arm_eabi - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "arm_eabi" ,
"main" : "c9767_sign_verify" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_sign_verify - aarch64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "aarch64" ,
"main" : "c9767_sign_verify" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_sign_verify - aarch64eb - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "aarch64eb" ,
"main" : "c9767_sign_verify" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_sign_verify - rv64ifdq - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "rv64ifdq" ,
"main" : "c9767_sign_verify" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_sign_verify - rv32ifdq - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "rv32ifdq" ,
"main" : "c9767_sign_verify" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_sign_verify - mips_o32 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "mips_o32" ,
"main" : "c9767_sign_verify" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_sign_verify - mips_n32 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "mips_n32" ,
"main" : "c9767_sign_verify" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_sign_verify - mips_64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "mips_64" ,
"main" : "c9767_sign_verify" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "c9767_sign_verify - mipsel_64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "mipsel_64" ,
"main" : "c9767_sign_verify" ,
"raw_options": { "-no-results": "true" } 
}
]
